
body {
  background-color: #F5CB5C;
  color: #242423;
}

form {
  display: flex;
  flex-direction: column;
}

#container {
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-style: border-box;
  font-family: 'Baloo Da 2', sans-serif;
  line-height: 1.3;
}
header {
  text-align: center;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
  font-family: 'Bebas Neue', sans-serif;
}

::placeholder {
  color: #333533;
}

#address-form {
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}

#confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#compose {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


input {
  opacity: .8;
  padding: 10px;
  /* display: block; */
  margin: 15px auto;
  min-width: 80%;
  background-color: #e8eddf;
  border: none;
  resize: none;
  box-sizing: border-box;

}
/* 
input:focus {
  
 outline: none;

} */



select {
  font-family: 'Montserrat', sans-serif;
  /* display: block; */
  padding: 10px;
  margin: 15px auto;
  background-color:  #e8eddf;
  opacity: .8;
  color: #333533;
  border: none;
  min-width: 80%;
  box-sizing: border-box;
} 

/* https://www.w3schools.com/howto/howto_custom_select.asp */
.select-selected {
  display: none;
}
.select-hide {
  display: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  /* display: block; */
  min-width: 80%;
  margin: 5px 0;
  background-color: #db3a34;
  color: white;
  border: none;
  box-sizing: border-box;
}

#submit {
  margin: 40px auto;
}

.contact {
  margin-bottom: 30px;
  margin-top: 15px;
}

h2 {
  color: #db3a34;
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  /* text-align: center; */
  margin-bottom: 10px;
}

h3 {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 20px;
  margin: 0 50% 0 0;
  padding: 5px 0;
  text-align: left;
}


footer.h3 {
  font-weight: 500;
}

a {
  color: #db3a34;
  /* text-decoration: none; */
}

a:hover {
  text-decoration: underline;
}

textarea {
  outline: none;
  resize: none;
  min-width: 100%;
  height: 400px;
  margin-bottom: 20px;
}